<a href="https://colab.research.google.com/github/Carinaaa/ML-Learning-Path/blob/intro-numpy/Intro_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Section 7 - NumPy

In [ ]:
import numpy as np

## DataTypes and Attributes

In [ ]:
a1 = np.array([1,2,3])
a1

In [ ]:
type(a1)

In [ ]:
a2 = np.array([[1,2,3],[1.2,2.2,3]])
a3 = np.array([[[1,2,3],[4,5,6],[7,8,9]],
              [[10,11,12],[13,14,15],[16,17,18]]])

In [ ]:
a3

In [ ]:
a3.shape # 2 layers, 3 arrays, 3 elements in array
# 2 -> [[],[]] 3 -> [[],[],[]] 3 -> [x,y,z]

In [ ]:
a2.shape

In [ ]:
a1.ndim, a2.ndim, a3.ndim

In [ ]:
a1.size, a2.size, a3.size

In [ ]:
# Create a df from np
import pandas as pd
df = pd.DataFrame(a2)
df

In [ ]:
df1 = pd.DataFrame(a3[1])
df1
# df must be 2-d input

## Creating arrays

In [ ]:
sample_array = np.array([1,2,3])
sample_array

In [ ]:
sample_array.dtype

In [ ]:
ones = np.ones((2,3))
ones # shape, dtype, order

In [ ]:
ones.dtype

In [ ]:
zeros = np.zeros((2,3))
zeros

In [ ]:
range_array = np.arange(0,10,2) # start, stop, step
range_array

In [ ]:
random_array = np.random.randint(0,10, size=(3,5)) # low, high, size = None, dtype = '1'
random_array, random_array.size # 3* 5

In [ ]:
random_array_2 = np.random.random((5,3))
random_array_2

In [ ]:
random_array_3 = np.random.rand(5,3)
random_array_3

In [ ]:
# Pseudo-random numbers
np.random.seed(seed = 1) # generate random numbers which are reproduceble (random but not changing every run)
random_array_4 = np.random.randint(10, size=(5,3)) # size == shape
random_array_4

## Viewing Arrays and Matrices

In [ ]:
np.unique(random_array_4)

In [ ]:
a1

In [ ]:
a2

In [ ]:
a3

In [ ]:
a3[:2, :2, :2] # slicing -> first 2 values

In [ ]:
a4 = np.random.randint(10, size = (2,3,4,5)) # 2 layers with 3 layers with 4 rows with 5 elements
a4

In [ ]:
a4.shape, a4.ndim

In [ ]:
# Get the first number in the most inner
a4[:,:,:,:1]

## Manipulating & comparing arrays

In [ ]:
# Basic math op
a1

In [ ]:
ones = np.ones(3)
ones

In [ ]:
a1 + ones

In [ ]:
a1 - ones

In [ ]:
a1 * ones

In [ ]:
a2

In [ ]:
a1 * a2 # multiply each row in a2 with a1 -> broadcasting

In [ ]:
#a2 * a3 # operands could not be broadcast together with shapes (2,3) (2,3,3)
a2 * a3[:,:2]

In [ ]:
a3

In [ ]:
a2

In [ ]:
a2 / a1

## Aggregation

In [ ]:
list_list = [1,2,3]
sum(list_list)

In [ ]:
sum(a1)

In [ ]:
np.sum(a1)

In [ ]:
massive_array = np.random.random(100000)
%timeit sum(massive_array)
%timeit np.sum(massive_array)

In [ ]:
np.mean(a2)

In [ ]:
np.max(a2)

In [ ]:
np.min(a2)

In [ ]:
np.std(a2) # how spread out is a group of number from the mean

In [ ]:
np.var(a2) # Variance - avg degree to each number is diff to the mean, lowe variance = lower range of number

In [ ]:
np.sqrt(np.var(a2)) # standard deviation

In [ ]:
high_var_array = np.array([1,100,200,300,4000,5000])
low_var_array = np.array([2,4,6,8,10])

In [ ]:
np.var(high_var_array), np.var(low_var_array)

In [ ]:
np.std(high_var_array), np.std(low_var_array)

In [ ]:
np.mean(high_var_array), np.mean(low_var_array)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.hist(high_var_array)
plt.show()

In [ ]:
plt.hist(low_var_array)
plt.show()

## Reshape and transpose

In [ ]:
#a2 * a3 # operands could not be broadcast together with shapes (2,3) (2,3,3)
a2.reshape(2,3,1).shape

In [ ]:
a2.reshape(2,3,1) * a3

In [ ]:
a3

In [ ]:
a2.reshape(2,3,1)

In [ ]:
a2

In [ ]:
# Transpose
a2.T

In [ ]:
a2

## Dot product example - Nut Butter sales

In [ ]:
np.random.seed(0)
sales_amounts = np.random.randint(20, size=(5,3))
sales_amounts

In [ ]:
weekly_sales = pd.DataFrame(sales_amounts, index=["Mon", "Tues", "Wed", "Thurs", "Fri"], columns=["Almond Butter", "Peanut Butter", "Cashew Butter"])
weekly_sales

In [ ]:
np.random.seed(7)
prices = np.random.randint(15, size=(1,3))
prices

In [ ]:
butter_prices = pd.DataFrame(prices, index = ["price"], columns=["Almond","Peanut","Cashew"])
butter_prices

In [ ]:
total_sales = prices * sales_amounts
total_sales

In [ ]:
faster_total = prices.dot(sales_amounts.T)
faster_total

In [ ]:
weekly_sales["Total"] = faster_total.T
weekly_sales

## My monthly sales

In [ ]:
np.random.seed(10)
np_monthly_sales = np.random.randint(20,size=(12,3)) # 12 months and 3 products
montly_sales = pd.DataFrame(np_monthly_sales, index=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"], columns=["Pancakes", "Ice Cream", "Cheese Cake"])
montly_sales

In [ ]:
np.random.seed(10)
np_prices = np.random.randint(10,size=(1,3)) # One price, and 3 products
prices = pd.DataFrame(np_prices, index=["Prices"], columns=["Pancakes", "Ice Cream", "Cheese Cake"])
prices

In [ ]:
np_monthly_sales.shape, np_prices.shape

In [ ]:
total_sales = np_prices.dot(np_monthly_sales.T)
total_sales

In [ ]:
df_total_sales = pd.DataFrame(total_sales.T, index=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"], columns=["Total"])
df_total_sales

In [ ]:
montly_sales["Total"] = df_total_sales
montly_sales

In [ ]:
best_month = montly_sales.loc[montly_sales["Total"] == montly_sales["Total"].max()]
best_month

## Comparison Operators

In [ ]:
a1

In [ ]:
a2

In [ ]:
a1>a2

In [ ]:
bool_array = a1 >= a2
bool_array

## Sorting

In [ ]:
np.random.seed(1)
my_arrays = np.random.randint(20, size=(3,5))
my_arrays

In [ ]:
np.sort(my_arrays)

In [ ]:
np.random.seed(1)
my_arrays = np.random.randint(20, size=(3,5))
my_arrays

In [ ]:
np.argsort(my_arrays) # sort by index

In [ ]:
np.argmin(my_arrays, axis=0) # based on columns

In [ ]:
np.argmin(my_arrays, axis=1) # based on rows

## Practical example

In [ ]:
from os import mkdir
import requests

url = "https://raw.githubusercontent.com/Carinaaa/ML-Learning-Path/refs/heads/intro-numpy/2S7A9167.jpg"
response = requests.get(url)

if response.status_code == 200:
  try:
    mkdir("data")
    print("Data folder created.")
  except FileExistsError:
    print("Data folder already there... proceeding in creating the file.")

  with open("data/picture.jpg", "wb") as f:
    f.write(response.content)
    f.close()
    print("File written.")
else:
  print("Error downloading the file...")

In [ ]:
# Turn an image into a NumPy array
from matplotlib.image import imread

carina = imread("data/picture.jpg")
print(type(carina))

In [ ]:
carina.size, carina.shape, carina.ndim